.glComposite{
  position:relative;
  text-align:left;
  h2,p{
    text-align:center;
  }
  p{
    font-size:1.68rem;
  }
  .output{
    position:relative;
    max-width:50em;
    margin-left:auto;
    margin-right:auto;
    .swatches{
      position:absolute;
      z-index:1;
      top:3rem;
      left:3rem;
      padding:0;
      margin:0;
      @media(max-width:@third-break){
        left:0.75rem;
        top:1rem;
        li{
          margin-bottom:0.6em !important;
        }
      }
      li{
        list-style:none;
        width:1em;
        height:1em;
        background:white;
        margin-bottom:0.25em;
        &.selected{
          border:solid 1px white;
        }
        box-shadow:3px 3px 3px 0 rgba(0,0,0,0.25)
      }
    }
    video{
      display:none;
      width:100%;
    }
    canvas{
      width:100%;
      max-width:160rem;
      box-shadow:0 0 10px 0 rgba(0,0,0,0.25);
    }
  }
}