@history-section-height:18rem;
@history-sidebar-width:2.5rem;

#history{
  border-top:1px solid rgba(0,0,0,0.1);
  background:white;
  position:relative;
  z-index:5;
  padding-top:5em;
  padding-bottom:4em;
  padding-left:3em;
  padding-right:3em;
  >section{
    margin-left:auto;
    margin-right:auto;
    margin-top:3em;
    margin-bottom:3em;
    max-width:110em;
    position:relative;
    padding-left:calc(@history-sidebar-width + 0.75em);
    padding-right:1em;
    padding-bottom:1em;
    padding-top:1em;
    height:@history-section-height;
    @media (max-width: @third-break) {
      height:(@history-section-height * 1.75);
    }
    @media (max-width: @forth-break){
      height:(@history-section-height * 2.75) !important;
    }
    .standard-shadow();
  }
  .center{
    margin-left:auto;
    margin-right:auto;
  }
  .sidebar{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:@history-sidebar-width;
    background-color:#17192e;
    h2{
      transform:rotate(90deg);
      transform-origin:bottom left;
      font-size:1.8rem;
      color:white;
      display:inline-block;
      margin:0;
      position:relative;
      top:(@history-sidebar-width * -1);
      text-align:center;
      width:@history-section-height;
      letter-spacing:0.15em;
      left:0.125rem;
      @media (max-width: @third-break) {
       width:(@history-section-height * 1.75);
      }
      @media (max-width: @forth-break) {
       width:(@history-section-height * 2.75);
      }
    }
  }

  hgroup{
    font-size:3.5rem;
    line-height:0.75em;
    h3{
      font-size:1em;
      margin-left:0em;
      margin-top:0;
      margin-bottom:0;
      font-size:0.6em;
      font-weight:600;
    }
    h4{
      font-size:0.4em;
      font-style:italic;
      font-weight:300;
      margin:0 0 0 1em;
    }
  }
  p{
    font-size:1.68rem;
    @media (max-width: @third-break) {
      font-size:2rem;
    }
  }
}