.limelight{
  height:100%;
  text-align:left;
  font-size:0;
  h2,p{
    text-align: center;
  }
  p{
    font-size:1.68rem;
    text-align: center;
  }
  ul{
    font-size:1.68rem;
    list-style:none;
    margin:0;
    padding:0;
    width:25rem;
    text-align:center;
    .user-select;
    li{
      display:inline-block;
      border:solid 1px rgba(0,0,0,0.1);
      background:white;
      padding:0.2em;
      &.selected{
        background:#013588;
        color:white;
      }
      cursor:pointer;
    }
  }
  &>ul{
    margin-left:auto;
    margin-right:auto;
  }
  .result{
    height:50rem;
    font-family:'Hack';
    font-size:1.25rem;
    width:25rem;
    height:30rem;
    max-width:80rem;
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    .limeOutput{
      height:calc(100% - 3em);
      position:relative;
    }
    canvas{
      display:block;
      position:absolute;
      top:50%;
      left:50%;
      .center;
    }
    .controls{
      position:absolute;
      bottom:0;
      left:50%;
      margin:0;
      padding:0;
      width:20rem;
      text-align:center;
      .horz-center;
    }
  }

}