/*@import "bootstrap/bootstrap.less";*/
@zero-break:1500px;
@first-break:1000px;
@second-break:880px;
@third-break:690px;
@forth-break:400px;
@fith-break:350px;
@grid-section:20em;
@grid-opacity:0.25;
@grid-seperators:0.40;
@grid-spacing:(@grid-section / 16);
@nav-height:8rem;
@footer-size:20em;


@work-link-color:lightgray;

.standard-shadow(){
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.vert-center{
  -o-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
}
.horz-center{
  -o-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
}
.center{
  -o-transform:translateX(-50%) translateY(-50%);
  -ms-transform:translateX(-50%) translateY(-50%);
  -webkit-transform:translateX(-50%) translateY(-50%);
  transform:translateX(-50%) translateY(-50%);
}
.user-select(){
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;   
  user-select: none;
}
html{
  font-size:10px;
  @media (max-width:@second-break){
    font-size:8px;
  }
  @media (max-width:@forth-break){
    font-size:7px;
  }
  text-rendering:geometricPrecision;
}
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin:0;
}
main{
  position:relative;
}
h1,h2,h3{
  margin-top:2rem; 
  margin-bottom:1rem;
  line-height:1.1;
  font-weight:500;
}


.section-nav{
  position:fixed;
  right:5rem;
  top:50vh;
  .vert-center();
  width:1.3rem;
  >div{
    border:solid 1px white;
    @media (max-width:@second-break){
      height:1.75rem;
      width:1.75rem;
      border-radius:1.75rem;
    }
    height:1.25rem;
    width:1.25rem;
    border-radius:1.25rem;
    font-size:0;
    &.selected:before{
      content:'';
      display:block;
      background:white;
      border-radius:1rem;
      @media (max-width:@second-break){
        margin:1px;
    
      }
      width:calc(100% - 2px);
      height:calc(100% - 2px);
      margin:1px;
    }
    margin-top:0.4rem;
    margin-bottom:0.4rem;
    &:first-of-type{
      margin-top:0;
    }
    &:last-of-type{
      margin-bottom:0;
    }
  }
}
*{
  box-sizing:border-box;
}
h2{
  font-size:3.6rem;
  font-variant:small-caps;
  letter-spacing:0.16em;
}
p{
  line-height:1.55em;
}
section{
  display:block;
}
#description{
  position:relative;
  z-index:1;
  box-shadow:0 15px 20px 5px rgba(0,0,0,0.20);
  padding-top:20rem;
  padding-bottom: 7rem;
  background:white;
  p{
    font-size:1.6rem;
    line-height:2em;
    margin-left:auto;
    margin-right:auto;
    max-width:65rem;
    text-align:center;
    letter-spacing:0.1em;
    padding-left:1em;
    padding-right:1em;
  }
}


#seperator{
  height:30rem;
}

@work-section-width:45;
@work-section-height:45;
@work-section-count:3;
@work-padding:6;


main > section{
  margin-bottom:@footer-size;
  position:relative;
  z-index:1;
}
footer{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  z-index:0;
  height:@footer-size;
  background:#1b1d22;
  address{
    color:white;
    font-size:2em;
    margin-left:auto;
    margin-right:auto;
    margin-top:4em;
    font-variant:small-caps;
    display:block;
    width:16em;
    span:first-of-type{
      margin-right:0.5em;
    }
    span:last-of-type{
      margin-left:0.5em;
    }
  }
  a{
    font-size:1.5em;
    position:absolute;
    right:1em;
    bottom:1em;
  }
  a:link, a:visited{
    color:white;
    text-decoration:none;
  }
}
@import "nav.less";
@import "skills.less";
@import "projects.less";
@import "history.less";
@import "glcomposite.less";
@import "messagepack.less";
@import "limelight.less";