.messagepack{
  height:100%;
  text-align:left;
  font-size:0;
  h2,p{
    text-align:center;
  }
  p{
    font-size:1.68rem;
  }
  .input, .result{
    height:50rem;

    font-family:'Hack';
    font-size:1.25rem;
    width:calc(50% - 2rem);
    max-width:80rem;
    @media(max-width:@forth-break){
      max-width:inherit;
      width:100%;
    }
    display:inline-block;
    textarea{
      height:45rem;
      width:100%;
    }
  }
  .result{
    float:right;
  }
  .panel{
    border:1px solid lightgray;
    background:white;
    padding:0.125em;
    border-radius:10px;
    height:45rem;
    width:100%;
    overflow-y:auto;
  }
}