nav{
  height:@nav-height;
  top:0;
  width:100%;
  z-index:10;
  position:fixed;
  transition-duration:0.5s;
  svg{
    display:none;
    height:5em;
    width:5em;
    margin-top:1em;
    margin-right:2em;
    float:right;
    @media (max-width:@second-break){
      display:inline;
    }
    position:relative;
    z-index:1;
  }
  h1{
    display:inline-block;
    margin-left:1em;
    color:white;
    font-size:3.6rem;
    /*margin-top:1em;*/
    position:relative;
    z-index:1;
  }
  .blocker{
    display:none;
    @media(max-width:@second-break){
      display:block;
    }
    width:100%;
    height:100%;
    position:absolute;
    z-index:0;
    top:0;
  }
  &.stick{
    background:#161f28;
    box-shadow:0 0 10px 0 rgba(0,0,0,0.25);
    .blocker{
      background:#161f28;
    }
    li{
      transition:color 0.25s;
      color:white;
    }
  }
  @media (max-width:@second-break){
    .stick;
  }
  ul{
    list-style:none;
    height:100%;
    float:right;
    margin-right:5rem;
    transition:top 1s;
    position:relative;
    @media (max-width:@second-break){
      background:#161f28;
      float:none;
      position:fixed;
      margin:0;
      padding-left:5rem;
      padding-right:5rem;
      top:calc(-100vh + @nav-height);
      z-index:-1;
      &.show{
        top:@nav-height;
      }
      li{
        display:block;
        height:auto;
        text-align:center;
        font-size:4rem;
        color:white;
      }
      height:calc(100vh - @nav-height);
      left:0;
      right:0;
    }
  }
  li{
    display:inline-block;
    color:black;
    height:100%;
    font-size:2rem;
    line-height:2rem;
    padding-top:1.75em;
    font-variant:small-caps;
    padding-left:0.25em;
    padding-right:0.25em;
    cursor:pointer;
    &.highlight{
      color:#2a5eac;
    }
  }
}