#projects{
  background:white;
  font-size:2rem;
    background-size:calc(@grid-spacing + 1px) calc(@grid-spacing + 1px), calc(@grid-spacing + 1px) calc(@grid-spacing + 1px), calc(@grid-spacing + 1px) calc(@grid-spacing + 1px);
    background-image:repeating-linear-gradient(0deg,
                                             rgba(0,0,0,0),
                                             rgba(255,255,255,1) calc((@grid-spacing/2) - 7px), 
                                             rgba(255,255,255,1) calc((@grid-spacing/2) + 7px), 
                                             rgba(0,0,0,0) @grid-spacing),
                     repeating-linear-gradient(90deg,
                                             rgba(0,0,0,0),
                                             rgba(255,255,255,1) calc((@grid-spacing/2) - 7px), 
                                             rgba(255,255,255,1) calc((@grid-spacing/2) + 7px), 
                                             rgba(0,0,0,0) @grid-spacing),
                     repeating-linear-gradient(0deg,
                                             rgba(0,0,0,0),
                                             rgba(0,0,0,0) calc(@grid-spacing - 1px), 
                                             rgba(0,0,0, @grid-opacity) calc(@grid-spacing - 1px), 
                                             rgba(0,0,0, @grid-opacity) @grid-spacing),
                     repeating-linear-gradient(90deg,
                                             rgba(0,0,0,0),
                                             rgba(0,0,0,0) calc(@grid-spacing - 1px), 
                                             rgba(0,0,0, @grid-opacity) calc(@grid-spacing - 1px), 
                                             rgba(0,0,0, @grid-opacity) @grid-spacing);
    -webkit-background-image:-webkit-repeating-linear-gradient(0deg,
                                             rgba(0,0,0,0),
                                             rgba(0,0,0,0) calc(@grid-spacing - 1px), 
                                             rgba(0,0,0, @grid-opacity) calc(@grid-spacing - 1px), 
                                             rgba(0,0,0, @grid-opacity) @grid-spacing),
                   -webkit-repeating-linear-gradient(90deg,
                                             rgba(0,0,0,0),
                                             rgba(0,0,0,0) calc(@grid-spacing - 1px), 
                                             rgba(0,0,0, @grid-opacity) calc(@grid-spacing - 1px), 
                                             rgba(0,0,0, @grid-opacity) @grid-spacing);
  .standard-shadow;
  position:relative;
  z-index:5;
  padding-top:5em;
  text-align:center;
  .demo{
    position:absolute;
    top:0;
    left:0;
    padding:5em;
    width:100%;
    height:100%;
    @media(max-width:@third-break){
      padding:2em;
    }
  }
  .grid{
    max-width:unit(((@work-section-width + @work-padding) * @work-section-count),rem);
    margin-left:auto;
    margin-right:auto;
    font-size:0;
    overflow:hidden;
    h2{
      margin-top:0;
      letter-spacing:0.1em;
      font-size:3rem;
    }
    div{
      white-space:normal;
      font-size:1rem;
      position:relative;
      display:inline-block;
      width:unit((@work-section-width + @work-padding),em);
      height:unit((@work-section-height + @work-padding),em);
      transition-duration:0.75s;
      left:0;
      @media(max-width:@third-break){
        width:100%;
      }
      &.disperse-left{
        left:calc(-100% - unit((@work-section-width + @work-padding),em));
      }
      &.disperse-right{
        left:100%;
      }
      section{
        text-align:left;
        position:absolute;
        top:0;
        left:0;
        display:inline-block;
        padding-left:6em;
        padding-right:6em;
        padding-top:5em;
        width:unit(@work-section-width,em);
        height:unit(@work-section-height,em);
        margin:unit((@work-padding / 2),em);
        box-shadow:0 0 10px 0 rgba(0,0,0,0.2);
        background:white;
        @media(max-width:@third-break){
          width:calc(100% - unit(@work-padding,em)) !important; 
        }
        >a,>i{
          color:@work-link-color;
          &:link,&:hover,&:visted{
            color:@work-link-color;
            text-decoration:none;
          }
          position:absolute;
          bottom:1em;
          font-size:2.5rem;
          &.try{
            right:5.5em;
          }
          &.repo{
            right:4em;
          }
          &.link{
            right:2.5em;
          }
        }
        >i{
          margin-bottom:0.24em;
          color:#efefef;
        }
      }
      p{
        font-size:1.68em;
        margin-left:1em;
        text-align:justify;
        @media(max-width:@third-break){
          font-size:2rem;
        }
      }
    }
  }
}