@skills-paragraph-width:36em;
#skills{
  font-size:2rem;
  position:relative;
  background-size:@grid-spacing @grid-spacing, @grid-spacing @grid-spacing, auto auto;
  background-image:repeating-linear-gradient(0deg,
                                             rgba(255,255,255,0),
                                             rgba(255,255,255,0) calc(@grid-spacing - 1px), 
                                             rgba(255,255,255, @grid-opacity) calc(@grid-spacing - 1px), 
                                             rgba(255, 255, 255, @grid-opacity) @grid-spacing),
                   repeating-linear-gradient(90deg,
                                             rgba(255,255,255,0),
                                             rgba(255,255,255,0) calc(@grid-spacing - 1px), 
                                             rgba(255,255,255, @grid-opacity) calc(@grid-spacing - 1px), 
                                             rgba(255, 255, 255, @grid-opacity) @grid-spacing),
                   linear-gradient(90deg,#013588,#003f9c,#013588);
  -webkit-background-image:-webkit-repeating-linear-gradient(0deg,
                                             rgba(255,255,255,0),
                                             rgba(255,255,255,0) calc(@grid-spacing - 1px), 
                                             rgba(255,255,255, @grid-opacity) calc(@grid-spacing - 1px), 
                                             rgba(255, 255, 255, @grid-opacity) @grid-spacing),
                   -webkit-repeating-linear-gradient(90deg,
                                             rgba(255,255,255,0),
                                             rgba(255,255,255,0) calc(@grid-spacing - 1px), 
                                             rgba(255,255,255, @grid-opacity) calc(@grid-spacing - 1px), 
                                             rgba(255, 255, 255, @grid-opacity) @grid-spacing),
                   -webkit-linear-gradient(90deg,#013588,#003f9c,#013588);
  background-repeat:repeat,repeat,no-repeat;
  background-position:left top,0% 0%,center center;
  color:white;
  
  @media(max-width:@third-break){
    .section-nav{
      display:none;
    }
  }
  section{
    overflow:hidden;
    position: relative;
    height:@grid-section;
    padding-left:1.25em;
    padding-right:1.25em;
    border-bottom:2px dashed rgba(255,255,255,@grid-seperators);
    &:last-of-type{
      border-bottom:none;
    }
    @media(max-width:@third-break){
      height:(@grid-section * 1.25);
    }
  }
  .copy{
    margin-left:10em;
    margin-top:2.2em;
    @media(max-width:@first-break){
      width:(@skills-paragraph-width * 0.7) !important;
      margin-left:auto !important;
      margin-right:auto !important;
    }
    @media(max-width:@zero-break){
      margin-left:6em;
      p{
        width:(@skills-paragraph-width * 0.8) !important;
      }
    }
    @media(max-width:@third-break){
      width:100% !important;
      padding-right:1em;
      p{
        font-size:2rem !important;
        width:calc(100% - 2em) !important;
        margin-top:1.25em !important;
        line-height:1.3em !important;
      }
    }
    
    p{
      width:@skills-paragraph-width;
      font-size:1.6rem;
      line-height:1.6em;
      letter-spacing:0.15em;
      margin-top:1.5em;
      margin-left:2em;
    }
  }
  .image{
    position: absolute;
    width: 10em;
    height: 10em;
    /*border: 5px solid white;*/
    top: 50%;
    right: 15%;
    transform:translateY(-50%);
    @media(max-width:@zero-break){
      right:10%;
      font-size:1.55rem;
    }
    @media(max-width:@first-break){
      right:inherit;
      opacity:0.1;
      font-size:3rem;
      left:20vw;
      transform:translateX(-50%) translateY(-50%);
    }
    @media(max-width:@third-break){
      left:50vw;
      font-size:4.25rem;
    }
    line,path{
      stroke-width:7;
      stroke:white;
      fill:none;
      stroke-linecap:round;
    }
    circle{
      fill:white;
    }
    text{
      fill:white;
      font-size:25px;
    }
  }
  
}