mixin skrow(title,set)
  section
    .copy
      h2=title
      block
    svg(res-ani=set viewBox="0 0 200 200").image
mixin wkrow(title)
  div.disperse-target
    section  
      h2=title
      p
        block
      if(attributes.try)
        a.try(href="/"+attributes.try ng-click="evDisperse('"+attributes.try+"')" title="Try the demo")
          i.fa.fa-chevron-right
      else 
        i.try.fa.fa-chevron-right(title="Nope, no demo")
      if(attributes.repo)
        -var repotype=attributes.repo.indexOf('bitbuck')>=0?'bitbucket':'github';
        a.repo(href=attributes.repo class=repotype title="Get the repository")
          i(class="fa fa-#{repotype}")
      else 
        i.repo.fa.fa-git(title="Nope, no repository")
      if(attributes.link)
        a.link(href=attributes.link title="See the site")
          i.fa.fa-globe
      else
        i.link.fa.fa-globe(title="Nope, no website")
mixin hkrow(title,sub,date)
  section
    .sidebar
      h2=title
    hgroup
      h3=sub
      h4=date
    p
      block