mixin ckrow(hue,sat)
  li(style="background:hsla("+hue+","+sat+"%,70%,1)" ng-click="color='"+hue+"\,"+sat+"'" ng-class="{selected:color=='"+hue+","+sat+"'}")
.glComposite
  h2 glComposite
  .output
    ul.swatches
      +ckrow(0,50)
      +ckrow(49,50)
      +ckrow(109,50)
      +ckrow(160,50)
      +ckrow(217,50)
      +ckrow(272,50)
    video.loop(res-direct="video" loop="true" autoplay="true")
     source(src="/resources/media/holding.webm" type="video/webm")
     source(src="/resources/media/holding.mp4" type="video/mp4")
    canvas.output(res-direct="canvas" width="1920" height="1080")
   p Realtime manipulate of video with a WebGL compositing engine. Requires floating point compatible WebGl implementation. 