doctype html
include mixins/common
include mixins/resume

html(lang="en")
  head
    base(href='/')
    meta(charset="utf-8")
    title James Schroer resume
    +viewscaling
    +script('main.js')
    +css('main.css')
    +css('hack.css')
    +css('font-awesome.css')
  body(ng-app="resume",ng-controller="resumeCtrl")
    nav(res-nav)
      h1 James Schroer
      svg.triplebar(res-triplebar="menu" viewBox="0 0 100 100")
      .blocker
      ul#menu
        li(res-jump="description") Blurp
        li(res-jump="skills") Skills
        li(res-jump="projects") Projects
        li(res-jump="history") History
    main
      header
      section
        section#description
          p.
            I am a software developer with a background in coming up with unique solutions to uncommon problems. I will not take "no" or "it is impossible" as an answer to a problem. I research the inner workings of technology and do not take things at face value. 
        section#skills(res-section)
          +skrow("Web first","tag")
            p I have over 15 years of experience working with web based technology. I have developed specialized back-ends in PHP and Node.js with Express to suit the needs of the project. I am also using Websockets and Angularjs to create interactive web applications.
          +skrow("CRUD of the Problem","db")
            p I have developed database schemas with security and speed in mind. I have been working with MySQL and PostgreSQL for over 10 years, and MongoDB and Redis for the last 3 years. 
          +skrow("Development Cycle","cycle")
            p  Jade and Less templating engines are used to minimize markup clutter and redundancy. I am using automation tools like Grunt and unit testing to maintain a consistent functionality between code revisions and am using virtual machines locally for debugging and deployment checking. 
          +skrow("Deployment","cloud")
            p I am experienced in deploying LAMP and MEAN software stacks into cloud environments, and when a project requires it, setting up and configuring CDN and DNS services provided by Cloudflare. 
        section#projects
          .demo(ng-view ng-show="showDemo")

          .grid(res-disperse="dispFire")
            +wkrow("MessagePack.js")(try="MessagePack",repo="https://github.com/Shragei/MessagePack.js").
              A JavaScript library to serialize JSON objects into an efficient binary format. 
            +wkrow("LimeLight")(try="LimeLight",repo="https://bitbucket.org/Shragei/limelight").
              Polyfill libraries to support Animated PNG, JPEG Network Graphics, and other image formats for the browser.
            +wkrow("glComposite")(try="glComposite").
              A WebGL based compositing engine for video and still images. 
            +wkrow("SplatNet")(repo="https://github.com/Shragei/SplatNet").
              An on going project to reverse engineer and analyze network protocols used by Nintendo for Splatoon.
            +wkrow("Tapah Yoga")(link="http://tapahyoga.com").
              Yoga studio website created under contract with NXT Creates from mockups and feedback from the designers.
            +wkrow("NXT Creates")(link="http://nxtcreates.com").
              Website for NXT Creates. Created from mockups using AngularJS as a single page app to support history states. 
        section#history
          +hkrow("Developer","NXT","2015-Ongoing").
            Adapting wire-frame and style guides into a working website. The work ranges from basic static pages, to dynamic sites that require a custom back-end and maintaining usability on multiple devices. 
          +hkrow("Retoucher","Amazon.com inc","2013-2014").
            Writing custom programs and Javascript plugins for photoshop to improve efficiency of product compositing pipeline, and working with the pipeline to create finished product images.  
          +hkrow("Photographer","Sakura-con","2010-Ongoing").
            Primary photographer for main events (Fashion shows, concerts.) Photographing multiple events back to back over the course of 3 sixteen-hour work days. After primary shooting the photographs are sorted and edited.  Color corrections are applied to the photographs when needed to maintain lighting consistency for each individual event. 
          +hkrow("Logistics","Sakura-con","2006-2007").
            Setup and takedown of stage and concert equipment. Prep staging of equipment for quick deployment into the panel rooms. Problem solving under pressure of technical failures and odd equipment requirements panelist request. 
          +hkrow("Intern","UW Human Interface Technology Lab","2000").
            Research into treating burn patients with VR as an alternative to using analgesics. Work included creating 3D asset for the VR environments, and programming the GUIs to control the software. Maintaining and building custom render machines used to create the stereoscopic views sent to the 3D helmet. Repairing 3-axis magnetic tracking, and position sensors for locating a patient's head in 3D space. 
      footer
        address
          span shragei@gmail.com
          span 206-850-2489
        a(href="https://bitbucket.org/Shragei/resume") Snag this resume as a git repo.