.limelight
  h2 Limelight
  ul
    li(ng-click="image('spinfox')" ng-class="{selected:selected=='spinfox'}") Spinfox
    li(ng-click="image('colorcube')" ng-class="{selected:selected=='colorcube'}") Colorcube
    
  .result
    .limeOutput(res-draw="limeOutput")
    ul.controls
      li(ng-click="state='stop'") Pause
      li(ng-click="state='play'") Play
      li(ng-click="state='reset'") Reset
  p Pollyfill example of animated PNG and JNG support.