.messagepack
  h2 MassagePack
  .input
    h3 JSON input
    textarea.input(ng-model="packInput")
  .result
    h3 MessagePack output
    .panel(ng-bind="packOutput")
  p Demo takes JSON input and converts it to MassagePack format.